.products-interface{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 40px 0 40px;
    align-items: center;
}

.products-container {
  width: calc(100% - 100px);
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}

.product-card{
    margin-top: 40px;
    background-color: var(--secondary-color) !important;
}

.product-card img{
    height: 160px;
    object-fit: contain;
    background-color: white;
}

.card-body{
    width: 286px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

}
.card-body div{
    color: var(--accent-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 36px;
}
.price{
    font-size: large;
    max-height: 27px;
}

.add-button{
    width: 100%;
    justify-self: flex-end;
    align-self: flex-end;
    border-color: var(--primary-color) !important;
}

.add-button:hover{
    background-color: var(--primary-color) !important;
    color: white !important;
}

